<%- include('../../top.ejs') -%>
<%- include('../../header.ejs') -%>
<%- include('../../sidenav.ejs') -%>

<style>
  .btn {
    background-color: #27c783;
  }

  .btn:hover {
    background-color: #27c783;
  }

  .card-alert {
    background-color: #ee485a;
  }
</style>
<script>
  let ID=<%-id%>
  console.log(ID);
</script>
<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-light-blue "></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s6 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Pool Details</span></h5>
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="#">Bank Name : <%=LeadsUpload.bankName%></a>
              </li>
            </ol>
          </div>
          <div class="col s6 m6 l6">
            <a class="btn waves-effect waves-light gradient-45deg-green-teal
            float-right" href="/sourcing/uploadLeads">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12" style="margin-top: 30px;">
      <div class="container">
        <div id="Form-advance" class="card card-default roundCorners" style="height: 120px;">
          <div class="card-content">
            <div class="row mt-0">
              <div class="col s3 m3 l3">
                <p class="m-0"><b>UploadedBy</b></p>
                <h6 class="mt-8"><%=userName%></h6>
              </div>
              <div class="col s3 m3 l3">
                <p class="m-0"><b>Status</b></p>
                <h6 class="mt-8"><%=LeadsUpload.status%></h6>
              </div>
              <div class="col s3 m3 l3">
                <p class="m-0"><b>Start Date</b></p>
                <h6 class="mt-8"><%=LeadsUpload.startDate%></h6>
              </div>
              <div class="col s3 m3 l3">
                <p class="m-0"><b>End Date</b></p>
                <h6 class="mt-8"><%=LeadsUpload.endDate%></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="container">
        <div id="Form-advance" class="card card-default roundCorners">
          <div class="card-content">
            <h6>Error Logs :</h6>
            <div class="row mt-0">
              <div class="col s12 m12 12">
                <ol>
                  <% errorData.forEach(function(errData){ %>
                  <li>
                    <p class="m-0" style="color: red;"><b><%=errData.Error%> on line <%=errData.LineNo%></b></p>
                  </li>
                  <% }); %>
                </ol>
              </div>
              <div class="col s12 m12 l12">
                <a class="btn waves-effect waves-light breadcrumbs-btn right gradient-45deg-green-teal"
                href='/sourcing/failedLeads/download/<%= id %>'>
                <span class="hide-on-small-onl">Download Report</span>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../../bottom.ejs') -%>