<%- include('../../top.ejs') -%>
<%- include('../../header.ejs') -%>
<%- include('../../sidenav.ejs') -%>

<style>
  .customDatatable .card {
    box-shadow: none;
  }

  .customDatatable .card .card-content .row .col {
    padding: 0px;
    margin: 0px;
  }

  .btn {
    background-color: #f55c54;
    padding: 0 14px;
    border-radius: 8px;
  }

  .btn:hover {
    background-color: #f55c54;
    padding: 0 14px;
    border-radius: 8px;
  }
  .tabs .tab a {
    text-transform: capitalize !important;
    font-size: 17px;
  }
  .customModal {
    top: 0% !important;
    margin-left: 400px !important;
  }
  .dateDisplay{
    display: block;
    position: absolute;
  }
</style>

<div id="main">

  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-light-blue "></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s10 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= pageHeading %></span></h5>
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="index.html">
                </a>
              </li>
            </ol>
          </div>
          <div class="col s2 m6 l6">
            <a class="btn waves-effect waves-light  right gradient-45deg-green-teal adduser"
              href="<%= addUrl %>">
              <i class="material-icons hide-on-med-and-up">settings</i>
              <span class="hide-on-small-onl"><%= addButtonName %></span>
              <i class="material-icons right" style="margin-left: 3px !important;">add</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">

      <div class="col s12">
        <div id="button-trigger" class="card roundCorners card-default scrollspy">
          <div class="card-content" style="padding: 0px; margin-bottom: -30px;">
            <ul class="tabs" style="border-radius: 10px 10px 0px 0px;">
              <li class="tab col m6"><a href="#success">Success</a></li>

              <% if(displayErrorLogs) { %>
              <li class="tab col m6"><a href="#errorLogs">Error Logs</a></li>
              <% }; %>

            </ul>
          </div>
        </div>
      </div>

      <div id="success" class="col s12">
        <div id="button-trigger" class="card card-default scrollspy" style="border-radius: 0px 0px 10px 10px;">
          <div class="card-content">
            <div class="row">
              <%- include('./datatables/leads_success_datatable.ejs', datatableSuccessLeads) -%>
            </div>
          </div>
        </div>
      </div>
      <% if(displayErrorLogs) { %>
      <div id="errorLogs" class="col s12">
        <div id="button-trigger" class="card card-default scrollspy" style="border-radius: 0px 0px 10px 10px;">
          <div class="card-content">
            <div class="row">
              <%- include('./datatables/leads_failed_datatable.ejs', datatableFailedLeads) -%>
            </div>
          </div>
        </div>
      </div>
      <% }; %>
    </div>
  </div>

 
 <!-- View Success Leads -->
 <div id="successModal" class="modal modal-fixed-footer customModal roundCornersFloat">
  <div class="modal-content customModalContent">
    <div id="sourcingdetaildata"></div>
    <div class="customDatatable mt-0" style="box-shadow: none;">
      <%- include('./datatables/leads_location_datatable.ejs', datatable) -%>
    </div>
  </div>
  <div class="modal-footer customModalFooter">
    <a class="modal-action modal-close btn-flat">Cancel</a>
  </div>
</div>

 <!-- View Failed Leads -->
<div id="failedModal" class="modal modal-fixed-footer customModal roundCornersFloat">
  <div class="modal-content customModalContent">
    <div id="sourcingfaileddata"></div>
  </div>
  <div class="modal-footer customModalFooter">
    <a class="modal-action modal-close btn-flat">Cancel</a>
  </div>
</div>

</div>

<script>
   const toast = '<%- JSON.stringify(toast) %>';
  const toastText = '<%- JSON.stringify(toastText) %>';
  const toastColor = '<%- JSON.stringify(toastColor) %>';
  const parseToast = JSON.parse(toast);
  const parseToastText = JSON.parse(toastText);
  const parseToastColor = JSON.parse(toastColor);

  $(document).ready(function () {
      if (parseToast) {
          M.toast({
              html: parseToastText,
              classes: parseToastColor
          })
      }
  });
</script>

<%- include('../../bottom.ejs') -%>