<%- include('../../top.ejs') -%>
<%- include('../../header.ejs') -%>
<%- include('../../sidenav.ejs') -%>

<script>
    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var profileImg = document.getElementById('profileImg');
            profileImg.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
    
    const toast = '<%- JSON.stringify(toast) %>';
  const toastText = '<%- JSON.stringify(toastText) %>';
  const toastColor = '<%- JSON.stringify(toastColor) %>';
  const parseToast = JSON.parse(toast);
  const parseToastText = JSON.parse(toastText);
  const parseToastColor = JSON.parse(toastColor);

  $(document).ready(function () {
      if (parseToast) {
          M.toast({
              html: parseToastText,
              classes: parseToastColor
          })
      }
  });
</script>

<div id="main">
    <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-light-blue "></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Edit Team</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <!-- <li class="breadcrumb-item"><a href="/dashboard">Home</a>
                            </li> -->
                            <li class="breadcrumb-item"><a href="/team">Teams</a>
                            </li>
                            <li class="breadcrumb-item active">Edit Team
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col s12">
            <div class="container">
                <section class="tabs-vertical mt-1 section">
                    <div class="row">
                        <div class="col l12 s12">
                            <div id="general">
                                <form class="validateAddTeam" id="validateAddTeam" method="POST" action="/team/edit/<%=teams.id%>">

                                    <div class="card-panel roundCorners">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="input-field">
                                                        <label for="name">Team Name</label>
                                                        <input type="text" id="name" name="name"
                                                            data-error=".errorTxt1" value="<%=teams.name%>">
                                                        <small class="errorTxt1">
                                                            <% if(error && error == 'Team name is required') { %>
                                                            <div id="emailError"
                                                                style="font-size: .8rem; position: relative; color: #ff4081;">
                                                                <%= error %>
                                                            </div>
                                                            <% } %>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="input-field">
                                                        <label for="description">Description</label>
                                                        <input type="text" id="description" name="description"
                                                            data-error=".errorTxt1" value="<%=teams.description%>">
                                                        <small class="errorTxt1">
                                                            <% if(error && error == 'Team name is required') { %>
                                                            <div id="emailError"
                                                                style="font-size: .8rem; position: relative; color: #ff4081;">
                                                                <%= error %>
                                                            </div>
                                                            <% } %>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col s12">
                                                    <label for="teamLeaderId">Team Leader</label>

                                                    <div class="input-field mt-0">
                                                        <select class="error" id="teamLeaderId" name="teamLeaderId"
                                                            data-error=".errorTxt2" required>
                                                            
                                                            
                                                            
                                                            <% users.forEach((user) => { %>

                                                                <% if(user.id == teamData.id) { %>
                                                                    <option value="<%=teamData.id%>" selected><%=teamData.firstName%> <%=teamData.lastName%></option>
                                                                <% } else { %>
                                                                    <option value="<%=user.id%>"><%=user.firstName%> <%=user.lastName%></option>
                                                                <% } %>

                                                            <% }); %>


                                                        </select>
                                                        <small class="errorTxt2">
                                                            <% if(error && error == 'Team leader is required') { %>
                                                            <div
                                                                style="font-size: .8rem; position: relative; color: #ff4081;">
                                                                <%= error %>
                                                            </div>
                                                            <% } %>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">

                                                <div class="col s12 display-flex justify-content-end form-action">
                                                    <button type="submit"
                                                        class="btn blue darken-1 waves-effect waves-light mr-2" id="addUser">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
        </div>
        <div class="content-overlay"></div>
    </div>
</div>
</div>

<%- include('../../bottom.ejs') -%>