<%- include('../../top.ejs') -%> <%- include('../../header.ejs') -%> <%-
include('../../sidenav.ejs') -%>

<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-light-blue "></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
      <!-- Search for small screen-->
      <div class="container">
        <div class="row">
          <div class="col s10 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0">
              <span><%= Content %></span>
            </h5>
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item">
                <a href="#"><%= totalCount %></a>
              </li>
            </ol>
          </div>
          <div class="col s2 m6 l6">
            <a
              class="btn waves-effect waves-light breadcrumbs-btn right gradient-45deg-green-teal addcampaign"
              href="<%= addUrl %>"
              data-target="dropdown1"
            >
              <i class="material-icons hide-on-med-and-up">settings</i
              ><span class="hide-on-small-onl">Bulk Upload</span><i class="material-icons right">control_point</i></a
            >
          </div>
          <!-- <div class="col s2 m4 l4">
            <a
              class="btn waves-effect waves-light breadcrumbs-btn right gradient-45deg-green-teal addcampaign"
              href="leads/addLeads"
              data-target="dropdown1"
            >
              <i class="material-icons hide-on-med-and-up">settings</i
              ><span class="hide-on-small-onl">Add</span
              ><i class="material-icons right">add</i></a
            >
          </div> -->
        </div>
      </div>
    </div>
    <%- include('../../components/datatable_new.ejs',datatable) -%>
  </div>
</div>

<!-- END: Page Main-->

<!-- Theme Customizer -->
<%- include('../../bottom.ejs') -%>
