<%- include('../../../top.ejs') -%> <%- include('../../../header.ejs') -%> <%-
include('../../../sidenav.ejs') -%>

<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-light-blue"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s10 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0"><span>View Modules</span></h5>
            <ol class="breadcrumbs mb-0">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item">
                <a href="#">Modules</a>
              </li>
              <li class="breadcrumb-item active">View Modules</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="container">
        <div class="section section-data-tables">
          <div class="card roundCorners">
            <div class="card-content">
              <p class="caption mb-0">
                List of All following modules :-
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Modules</h4>
          <form id="accountForm"action="" method="post">
            <table style="border-collapse: unset;">
              <% ModulesArray.forEach(function(Modules){ %>
                <tr>
                  <td colspan="7" style="text-transform:capitalize"><%= Modules.module %><hr></td>
                </tr>
                <tr>
                  <% Modules.actions.forEach(function(action){ %>
                    <td>
                      <label style="font-size: 16px;">
                        <span><%= action.name %></span>
                      </label>
                    </td>
                    <% }); %>
                  </tr>
                <% }); %>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../../bottom.ejs') -%>
